<!-- <div>
    Number 1: <input type="Number" name="firstNumber" [(ngModel)]="num1">
    Number 2:<input type="Number" name="secondNumber" [(ngModel)]="num2">
</div>
Number1: {{num1}} 
<br>
Number2: {{num2}}
<br>
Sum: {{sum}}
<app-child (sum)="sum=$event" [number1]="num1" [number2]="num2"></app-child> -->

<form [formGroup]="profile">
    <label>Name:</label>
    <input type="text" formControlName="name">
    <br>
    <label>Email:</label>
    <input type="text" formControlName="email">
    <br>
    <label>Age:</label>
    <input type="number" formControlName="age">
    <br>
    <div formGroupName = "address">
        <label>City:</label>
        <input type="text" formControlName="city">
        <br>
        <label>State:</label>
        <input type="text" formControlName="state">
        <br>
        <label>Country:</label>
        <input type="text" formControlName="country">
        <br>
    </div>
    <div formArrayName="friends">
        <h3>Friends</h3> 
        <div *ngFor="let a of friends.controls; let i=index">
          <label>
            Friend {{i+1}}:
            <input type="text" [formControlName]="i">
          </label>
        </div>
      </div>
</form>
<button (click)="addFriends()">Add Friend</button>
<br>
<button (click)="printValues()">Print</button>